extends layout.pug

block content
  nav.nav
    a.btn.btn-outline-primary.ms-4(href='/') 
      i.bi.bi-arrow-left
      span Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1.display-3
          strong #{info.name}
        h3.text-primary.mb-4
          strong #{info.title}

        .about-bio
          p.mb-5 #{info.about}

          section#work-experience.pt-4
              //- Iterates through work history
              each job of info.work_history
                article.mb-5
                  h3.h4
                    strong #{job.position}
                  p.h6 #{job.company}
                  p.text-muted.h6
                    | #{job.start_date} &ndash; #{job.end_date} 
                    span.text-primary.text-opacity-25 &bull;
                    |  #{job.location}
                  ul.description
                    //- Iterates through each description item
                    each description of job.descriptions
                      li #{description}
            
      .skills-contact-box.box
        article.pb-5
          //- Iterates through all contact items (phone, email, linkedin, github, etc.)
          each item in info.contact
            p.mb-2 
              i(class=`bi bi-${item.icon} text-primary`) 
              a(href=`${item.url}`, target="_blank") #{item.display}
        //- Iterates through all feats (skills, recognition, and more...)
        each feat in info.feats 
          article.pb-3
            h5.text-primary
              i(class=`bi bi-${feat.icon}`) 
              strong #{feat.category}
            //- Iterates through each subcategory
            each sub in feat.subcategories
              p.small 
                strong #{sub.head}
                //- Iterates through each item in subcategory
                each item in sub.items
                  span.text-primary.text-opacity-50  • 
                  span #{item}
          
    nav.nav
    nav.nav
      a.btn.btn-outline-primary.ms-4(href='/') 
        i.bi.bi-arrow-left
        span Back