extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 My Proftfolio

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Portfolio description


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail.img-thumbnail(src=`/static/images/${project.image_urls[0]}`, alt=`${project.description}`)
            h5 #{project.project_name}
        a(href=`/project/${project.id}`)
          .card.mb-3
            img.card-img-top(src=`/static/images/${project.image_urls[0]}`, alt=`${project.description}`)
            .card-body
              h5.card-title #{project.project_name}
