extends layout.pug

block content

  article.portfolio-intro
    h1.display-3
      strong #{home.headline}
    h3.text-primary 
      strong #{home.subhead}
    p.h5.mt-5 #{home.intro}

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        a(href=`/project/${project.id}`)
          .card.mb-3.shadow
            img.card-img-top(src=`/static/images/${project.image_thumb}`, alt=`${project.description}`)
            .card-body
              h5.card-title.mb-0 #{project.project_name}

  //- For SVG/CSS filter on project thumbnails
  svg(xmlns='http://www.w3.org/2000/svg')
    filter#filter
        fecolormatrix(type='matrix', values=' 0.654  0.000  0.000  0.000 -0.136 \
        0.000  0.654  0.000  0.000 -0.004 \
        0.000  0.000  0.654  0.000  0.257 \
        0.000  0.000  0.000  1.000  0.000')
