<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{info.name} | Portfolio Site
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We', crossorigin='anonymous')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail.rounded-circle.shadow(src=`/static/images/${info.avatar}`, alt=`Illustration of ${info.name}`)
        .dev-intro-box
          h2.text-white 
            strong #{info.name}
          p.text-white #{info.short}
          a.btn.btn-primary(href='/about') Learn More  
            i.bi.bi-arrow-right

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Misael Ruiz

      block content

  script(src='/static/js/script.js')