extends layout.pug

block content

  nav.nav
    a.btn.btn-outline-primary.ms-4(href='/') 
      i.bi.bi-arrow-left
      span Back
  
  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1.display-4 
          strong #{project_name}
        p #{description}

      .project-tech-links-box.box
        article.pb-3
          h6.text-primary
            i.bi.bi-code-square
            |  Technologies

          p.small 
            //- Iterates through all project technologies
            each technology in technologies
              span.text-primary.text-opacity-50  • 
              span= technology

        .mb-0 
          i.bi.bi-lightning.text-primary 
          a(href=`${live_link}`, target="_blank") Live Demo
        .mb-0 
          i.bi.bi-github.text-primary 
          a(href=`${github_link}`, target="_blank") GitHub Repo

    .project-img-box.box
      //- Iterates through all available project images
      each image_url of image_urls
        img.project-img(src=`/static/images/${image_url}`, alt=`${project_name}`)

    nav.nav
    nav.nav
      a.btn.btn-outline-primary.ms-4(href='/') 
        i.bi.bi-arrow-left
        span Back
