extends layout.pug

block content

  nav.nav
    a.btn.btn-outline-primary.ms-4(href='/') 
      i.bi.bi-arrow-left
      span Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Use the info in your data file and the comments below to complete this template

        //- Use interpolation to dynamically add the project title
        h1 
          strong #{project_name}

        //- Use interpolation to dynamically add the project description
        p.text-primary #{description}

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- Use an `each` iterator and interpolation to dynamically replace the li tags below with the technologies listed for this project
          each technology of technologies
            li= technology

        //- Add the href values to the links below
        .mb-0 
          i.bi.bi-lightning.text-primary
          a(href=`${live_link}`)  Live Demo
        .mb-0 
          i.bi.bi-github.text-primary
          a(href=`${github_link}`)  GitHub Repo

    .project-img-box.box

      //- Replace the URLs in the src attributes below with interpolated template literals to dynamically add your project images, and add descriptions to the alt attributes
      each image_url of image_urls
        img.project-img(src=`/static/images/${image_url}`, alt='')

    nav.nav
    nav.nav
      a.btn.btn-outline-primary.ms-4(href='/') 
        i.bi.bi-arrow-left
        span Back
